.home-page-main {
    background-color: #F4EDE4;
}

.billboard {
    background-color: #541554;
}

.billboard-content{
    display: flex;
    justify-content: center;
    color: white;
    padding: 2% 10%;
}

.billboard-content > *{
    width: 50%;
}

.billboard-header > * {
    text-align: left;
    padding-bottom: 1%;
}

.billboard-header h1:nth-child(2){
    color: yellow;
}

.billboard-header-copy {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.4;
}

.billboard-header-cta {
    display: flex;
    justify-content: left;
    margin: 1% 0;
}

.billboard-header-cta > *{
    margin-right: 30px;
    padding: 15px 80px;
    color: white;
    border: 2px solid white;
}

.billboard-header-cta a:nth-child(1){
    color: purple;
    border: 1px solid white;
    background-color: white;
}

.billboard-header-cta a:nth-child(2){
    border: 1px solid white;
}

.company-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 10%;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.company-logo-container {
    width: 100%;
}

.company-logo-container > * {
    padding: 0 1%;
}

.workday-integration {
    display: flex;
    justify-content: center;
    padding: 2% 10%;
}

.workday-integration > * {
    width: 50%;
}

.section-copy {
    padding: 2% 5%;
}

.section-copy > * {
    margin: 2% 5%;
}

.section-copy p{
    text-align: left;
    font-size: 18px;
}

.how-you-want-to-work {
    display: flex;
    justify-content: center;
    padding: 2% 10%;
}

.how-you-want-to-work > * {
    width: 50%;
}

.team-together {
    display: flex;
    justify-content: center;
    padding: 2% 10%;
}

.accomplish-with-slack{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    padding: 5%;
    clip-path: ellipse(75% 100% at center top);
    background-color: #541554;
}

.home-page-footer {
    display: flex;
    justify-content: space-around;
    padding: 2% 5%;
}

.home-page-footer > img {
    width: 30px;
    height: 30px;
}













