.content-sidebar {
    width: 20%;
    height: 100vh;
    background-color:#cfb4ddf1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-sidebar-header {
    display: flex;
    align-items: center;
    font-size: 18px;
    border-bottom: 1px solid rgb(151, 145, 145);
}

.content-sidebar-header > svg {
    width: 20px;
    height: 20px;
    padding-bottom: 6px;
}

.content-sidebar-header-text {
    margin: 3% 5%;
}
.add-channels {
    margin: 3% 8%;
}

.add-channels > svg {
    width: 15px;
    height: 15px;
    padding-top: 5px;
}

.add-dm-channels > svg {
    width: 15px;
    height: 15px;
    padding-top: 5px;
}

.channels-header {
    margin: 3% 5%;
    display: flex;
    align-items: center;
}

.dm-header {
    margin: 5% 3% 3% 3%;
}

.add-dm-channels {
    margin: 3% 8%;
}